@font-face {
  font-family: "Avenir-Next";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Avenir-Next-Demi";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "Avenir-Next-Bold";
  font-style: bold;
  font-weight: 700;
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
}
