@use './mixins' as *;


$tablet: 500px;
$mobile: 320px;
$connection1: 400px;
$connection2: 483px;
$desktop: 1280px;

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
   }
}
@mixin connection1 {
  @media (min-width: $connection1) {
    @content;
  }
}

@mixin connection2 {
  @media (min-width: $connection2) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: $mobile) {
    @content;
  }
}