@use "../../styles/partials/fonts.scss";
@use "../../styles/partials/partials" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/mediaqueries" as *;

.videos {
  width: 19rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Avenir-Next;

  @include tablet {
    width: 60%;
    margin: 0 0 0 3%;
  }
  @include desktop {
    margin: 0;
  }

  &-list {
    width: 95%;
    height: 4.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 1rem;
    margin: 0 1rem 0 1rem;
    text-decoration: none;
    color: black;

    @include desktop {
      width: 170%;
    }

    img {
      border-radius: 0.25rem;
      width: 6rem;
      object-fit: cover;
    }
  }

  &-list-info {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    justify-content: space-around;

    @include tablet {
      width: 35%;
    }
    @include desktop {
      width: 45%;
    }
  }

  &-title {
    font-family: Avenir-Next-Demi;
    width: 100%;
  }
}
h2 {
  font-size: 1rem;
  color: $Mercury;
  margin: 1rem 0 0 5%;
  @include mobile-section-header;
  font-family: Avenir-Next-Bold;
  @include tablet {
    margin: 1rem 0 0 5%;
    @include section-header;
    font-size: 0.875rem;
  }
}
span {
  justify-self: end;
}
