@use "../../styles/partials/fonts.scss";
@use "../../styles/partials/partials" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/mediaqueries" as *;

.description {
  width: 90%;
  margin: auto;

  &-title {
    @include mobile-page-header;
    font-family: Avenir-Next-Bold;
    border-bottom: solid 0.125rem $Mercury;
  }

  &-data {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $Silver;
    &-ct{
      @include tablet{
        display: flex;
        flex-direction: row;
        gap:2.5rem;
      }
    }
    &-vl{
      @include tablet{
        display: flex;
        flex-direction: row;
        gap:2.5rem;
      }
    }

    #channel {
      font-family: Avenir-Next-Demi;
      color: $BrainFlix-Black;
    }
    border-bottom: solid 0.125rem $Mercury;
  }
}
.space {
  display: flex;
  gap: 0.5rem;
}
