@use "../../styles/partials/fonts.scss";
@use "../../styles/partials/partials" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/mediaqueries" as *;

.comments {
  height: auto;
  width: 90%;
  margin: auto;
  font-family: Avenir-Next;

  &-form {
    display: grid;
    grid-template-columns: 20% 80%;
    @include tablet{
      grid-template-columns: 10% 90%;
    }

    &-avatar {
      img {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        margin-top: 1.5rem;
        margin-left: 5%;
        object-fit: cover;
        @include connection1{
          margin-left: 25%;
  
        }
        @include tablet{
          margin: 2rem 0 0 0;

        }
      }
    }

    &-break {
      width: 100%;
      border-bottom: solid $Mercury 1px;
      margin-top: 1rem;
      @include desktop{
        width: 105.6%;
      }
    }
  }

  h5 {
    margin-top: 0;
    margin-bottom: 0;
    color: $Mercury;
    font-family: Avenir-Next-Bold;
    font-size: 1rem;
    grid-row-start: 1;
    margin-bottom: .5rem;
    @include mobile-subheader;

    @include tablet{
      @include subheader;
      font-size: .875rem;
      font-weight: 700;
    }
  }
  #commenttext {
    border-radius: 0.25rem;
    height: 6rem;
    border: 2px solid #e1e1e1;
    margin-bottom: 1rem;
    width: 95%;

    &:focus {
        outline: none;
        border-color: $BrainFlix-Blue;
    }

    &.error {
        border-color: #d22d2d;
        border-width: 1px;
        width: 95%;
    }

    &.has-text {
        border-color: $BrainFlix-Blue;
    }

    @include tablet {
        height: 2.375rem;
        width: 90%;
    }
}

::placeholder{
  font-family: Avenir-Next;
  text-indent: 1rem;
  text-align: start;
  position: absolute;
  top: .5rem;
  color: $BrainFlix-DarkBlack;
@include mobile-body-copy;

@include tablet{
  @include body-copy;
}
}

textarea:focus::placeholder{
  color: transparent;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;

    @include tablet{
      flex-direction: row;
      align-items:center;
    }
    &-group{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
}

.button {
    height: 2.25rem;
    background-color: $BrainFlix-Blue;
    border: none;
    border-radius: 0.25rem;
    font-size: .75rem;
    line-height: 1.25rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    @include tablet{
      height: 2.5rem;
      margin-top: .75rem;
      width: 40%;
    }
    
}

.button-name {
    flex: 1; 
    text-align: center;
    text-decoration: none;
    color: white;
}

  &-text {
    display: grid;
    grid-template-columns: 18% 82%;
    border-bottom: solid $Mercury 1px;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    
    
    
    @include tablet{
      grid-template-columns: 8% 92%;
    }
    @include desktop{
      width: 105.5%;

    }
    &-avblank {
      width: 2.25rem;
      height: 2.25rem;
      background-color: $Mercury;
      border-radius: 50%;
      @include connection1{
        margin-left: 25%;
      }
      @include tablet{
        margin: 0;
      }
    }

    &-words {
      grid-column-start: 2;
      grid-column-end: 3;
      margin-bottom: 1rem;
    }
    &-name{
      justify-self: start;
      grid-row-start: 1;
      grid-column-start: 2;
      @include mobile-subheader;
      font-size: 1rem;

    }
    &-timestamp{
      grid-column-start: 2;
      justify-self: end ;
      grid-row-start: 1;
      @include mobile-subheader;
      font-size: 1rem;
      color: $Mercury;
      @include desktop{
padding-right: 5%;      }
    }
  }
}
